<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sifat.bcsbnagla">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="PhotoEditorApp"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.PhotoEditorApp"
        android:usesCleartextTraffic="true">

        <!-- FileProvider for sharing images -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sifat.bcsbnagla.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.activities.EditorActivity"
            android:exported="false" />

        <activity
            android:name=".view.activities.SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".view.activities.MainActivity"
            android:exported="false" />
    </application>

</manifest>